/* montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*base style*/
body {
    background-color: white;
    color: white;
    font-family: 'bigdailyshort-regular';
    margin: 0px;
    padding: 0;
    width:100vw;
  }
  
  a {text-decoration: none;}
  
  h1 { color: black}
  
  .big-text{
    font-size:min(7vw, 60px); 
    font-family: 'bigdailyshort-regular';
    font-weight: bold; 
    color:#8207C4; 
    margin-left: 30px; 
  
  }
    
  .med-text{
    font-size:clamp(32px,5vw,40px);
    font-family: 'bigdailyshort-regular';
    color:#8207C4; 
    margin-left: 30px; 
  }
  
  .small-text{
    font-size:clamp(18px,3vw,24px);
    font-family: 'montserrat';
    text-align:center;
    color:#8207C4; 
  }
  
  .description {
    color:white;
    font-family: "montserrat";
    text-align: left;
    font-size: 12px;
  }
  
  .button {
    padding:8px 30px;  
    color: #8207C4; 
    display:inline-block; 
    border: #8207C4; 
    border-style:solid; 
    border-radius:20px ;
    background:white; 
    font-size:15px; 
    font-family: 'Montserrat';
    font-weight:normal;
    font-style: normal;
  }
  
  .button:hover{
    background-color:#8207C4 ;
    color: #fff;
  }
  
  canvas {
    display: block;
  }
  
  @media (max-width: 576px) {
    .big-text {
      font-size:10vw;
      padding-top: 50px;
    };
    
  }
  
  
  /* HEADER */
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    position: fixed;
    width: 100vw;
    transition: 200ms ease-in-out background-color;
    z-index: 10;
    background-color: #fff;
    box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2);
  
  }
  
  .logo a{
    padding-left: 30px;
    color: black;
    font-family: "bigdailyshort-bold";
    transition: 200ms ease-in-out color,
  }
  
  .logo a:hover{
    color:#7629c3;
  }
  
  
  
  .menu a {
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1.2rem;
    margin-right: 10px;
    color:black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    /* background-color: #fff; */
    
  }
  
  .menu a:hover {
    color:#8207C4;
  }
  
  nav .menu a:active {
    color:#8207C4;
  }
  
  
  #download {
    border: black;
    border-style: solid;
    border-radius: 20px;
  }
  
  #download:hover {
    background-color:black;
    border-style: solid;
    color: white;
  }
  
  /* #download a:hover {
    color: white;
  }  */
  
  .active_nav {
    background-color: #8207C4;
    box-shadow: 0px 0px;
    transition: 200ms ease-in-out background-color;
    box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2);
  
  }
  
  .active_nav .menu a, 
  .active_nav .logo a{
    color:white;
  }
  
  .active_nav .menu a:hover,
  .active_nav .logo a:hover {
    color:#ff5c1e;
  }
  
  .active_nav #download {
    border:white;
    border-style: solid;
    border-radius: 20px;
  }
  
  .active_nav #download:hover {
    background-color: white;
    color:#7629c3;
  }
  
  .remove_nav {
    opacity: 0;
    transition: 200ms ease-in-out ;
  
  }
  
  /* HAMBURGER MENU */
  .hamburger {display: none;}
  
  @media (max-width: 576px) {
    #download{display: none;}
  
    .menu{ position: absolute; 
      top:0; right:-100%; 
      background: white; 
      height: 100vh; 
      width:100%; 
      padding-top:100px;
      /* transform: translate(2.5rem, -4rem); */
    
      font-size: 30px;
      font-weight: bold;
      padding-top:20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
  
    }
  
    .menu li {display: block;}
  
    
  
    .hamburger {
      display: block;
      width: 30px;
      height: 30px;
      position: fixed;
      top:30px;
      right:30px;
      z-index: 20;
    }
  
    .hamburger span {
      background: black;
      height: 3px;
      width: 100%;
      display: block;
      margin-bottom:5px;
    }
  
    .active_nav .hamburger span{
      background: white;
  }
  }
  
  
  /* HOME */
  .hero__container {
    height: 100vh;
  }
  .hero{
    background-color: white;
    width:100vw; 
    height:80vh;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .hero__content{
    width:100vw;
    max-width:1350px;
    /* margin:0 auto;  */
    margin-top:100px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  
  
  
 .hero img {
    max-width: 20%;
    min-width: 15%;
    height: auto;
    padding: 30px;
    align-self: flex-end;
  }
  
  
 
  