/* FONTS mettere da un'altra parteee*/
/* montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* base style */
body {
  background-color: white;
  color: white;
  font-family: 'bigdailyshort-regular';
  margin: 0px;
  padding: 0;
  width:100vw;
}

a {text-decoration: none;}

h1 { color: black}

.big-text{
  font-size:7vw; 
  font-family: 'bigdailyshort-regular';
  font-weight: bold; 
  color:#7629c3; 
  margin-left: 30px; 

}
  
.med-text{font-size:40px;}

/* .small-text {
  font-size:; 
  font-family: 'bigdailyshort-regular';
  font-weight: bold; 
  color:#7629c3; 
  margin-left: 30px; 
} */

.intr-text{
  text-transform:uppercase; 
  font-size:20px; 
  /* font-weight:bold;
  font-family: 'montserrat-regular'; */
}

.button {
  padding:8px 30px;  
  color: white; 
  display:inline-block; 
  border: #7629c3; 
  border-style:solid; 
  border-radius:20px ;
  background:#7629c3; 
  font-size:15px; 
  font-family: 'Montserrat';
  font-weight:normal;
  font-style: normal;
  
}

.button:hover{
  background-color:white ;
  color: #7629c3;
}

canvas {
  display: block;
}

@media (max-width: 576px) {
  .big-text {
    font-size:10vw;
    padding-top: 50px;
  };
  
}

/* HEADER */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0 3 rem;
    /* position: fixed;  */
    width: 100%;
    transition: 200ms ease-in-out background-color;
    background-color: white;
    z-index: 10;
  }
  
  .logo a{
    padding-left: 30px;
    color: black;
    font-family: "bigdailyshort-bold";
    transition: 200ms ease-in-out color,
  }
  
  .logo a:hover{
    color:#7629c3;
  }
  
  #download {
    border: black;
    border-style: solid;
    border-radius: 20px;
  }
  
  #download:hover {
    background-color: black; 
  }
  
  #download a:hover {
    color: white;
  } 
  
  .menu a {
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1.2rem;
    margin-right: 10px;
    color:black;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
  }
  
  .menu a:hover {
    color:#7629c3;
  }
  
  #download {
    border: black;
    border-style: solid;
    border-radius: 20px;
  }
  
  #download:hover {
    background-color:black;
    border-style: solid;
    color: white;
  }
  
  
  .active_nav {
    background-color: #7629c3;
  }
  
  .active_nav .menu a, 
  .active_nav .logo a{
    color:white;
  }
  
  .active_nav .menu a:hover,
  .active_nav .logo a:hover {
    color:#ff5c1e;
  }
  
  .active_nav #download {
    border:white;
    border-style: solid;
    border-radius: 20px;
  }
  
  .active_nav #download:hover {
    background-color: white;
    color:#7629c3;
  }
  
  /* HAMBURGER MENU */
  .hamburger {display: none;}
  
  @media (max-width: 576px) {
    #download{display: none;}
  
    .menu{ position: fixed; 
      top:0; right:-100%; 
      background: white; 
      height:100%; 
      width:100%; 
      padding-top:100px;
      /* transform: translate(2.5rem, -4rem); */
    
      font-size: 30px;
      font-weight: bold;
      padding-top:20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
  
      z-index: 10;
    }
  
    .menu li {display: block;}
  
    .logo a{
      position: fixed;
    }
    
  
    .hamburger {
      display: block;
      width: 30px;
      height: 30px;
      position: fixed;
      top:30px;
      right:30px;
      z-index: 10;
    }
  
    .hamburger span {
      background: black;
      height: 3px;
      width: 100%;
      display: block;
      margin-bottom:5px;

    }
}

  
* {
  margin: 0;
  padding: 0px;
}

.title {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  padding:40px
}

/* CARDS SWIPER */
.swiper-pagination {
  padding-bottom: 30px;
}
.swiper-pagination .swiper-pagination-bullet {
  height: 5px;
  width: 20px;
  border-radius: 25px;
  background: #7629c3;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
  opacity: 0.2;
  color: #7629c3;
  transition: all 0.3 ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
  color: #7629c3;
}

.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}


/* .swiper-slide {
  width: 100vw;
  height: 100vh;
  
} */

.swiper-slide.card {
  margin-top:100px;
  margin-bottom: 40px;
  height: 75vh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

/* .swiper-button-next {
  color: red;
} */


/* CARD FLIP */

.card__inner {
  width:300px;
  height: 450px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border:white;
  border-style:solid;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-color: #7629c3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h1 {
  font-family: "bigdailyshot-regular";
  color:white;
  font-size: 100px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.guideline {
  display: block;
  width:70vw;
}



/* FOOTER */
footer {
  background-color: #7629c3;
  padding: 40px;

}

footer h3 {
  font-family: "montserrat";
  font-style: normal;
  color: white;
  font-size: min(2.5vw,20px);
}

footer p{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: min(1.25vw,10px);
  line-height: 2;
  color: white;
}

footer a{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: min(1.25vw,10px);
  line-height: 1.5;
  color: white;
}

footer a:hover{
  
  color: #ccc;
}

.row {
  display: flex;
  justify-content: space-around;
}

.logo {
  width:20px;
  height: 20px;

}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  footer h3 {
    font-size: 3vw;
  }
  
  footer p{
    font-size: 1.5vw;
  }
  
  footer a{
    font-size: 1.5vw;
  }

  .column {
    padding-bottom:20px;
  }
}