/* FONTS mettere da un'altra parteee*/
/* montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* base style */
body {
  background-color: white;
  color: white;
  font-family: 'bigdailyshort-regular';
  margin: 0px;
  padding: 0;
  width:100vw;
}

a {text-decoration: none;}

h1 { color: black}

.big-text{
  font-size:min(7vw, 60px); 
  font-family: 'bigdailyshort-regular';
  font-weight: bold; 
  color:#8207C4; 
  margin-left: 30px; 

}
  
.med-text{
  font-size:clamp(32px,5vw,40px);
  font-family: 'bigdailyshort-regular';
  color:#8207C4; 
}

.small-text{
  font-size:clamp(12px,3vw,16px);
  font-family: 'montserrat';
  text-align:center;
  color:#8207C4; 
} 

.description {
  color:black;
  font-family: "montserrat";
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.button {
  padding:8px 30px;  
  color: #8207C4; 
  display:inline-block; 
  border: #8207C4; 
  border-style:solid; 
  border-radius:20px ;
  background:white; 
  font-size:15px; 
  font-family: 'Montserrat';
  font-weight:normal;
  font-style: normal;
}

.button:hover{
  background-color:#8207C4 ;
  color: #fff;
}

.button:active{
  background-color:white ;
  color: #8207C4;
  box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2);

}

canvas {
  display: block;
}

@media (max-width: 576px) {
  .big-text {
    font-size:10vw;
    padding-top: 50px;
  };
  
}

/* HEADER */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  position: fixed;
  width: 100vw;
  transition: 200ms ease-in-out background-color;
  z-index: 10;
  background-color: #fff;
  box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2);

}

.logo a{
  padding-left: 30px;
  color: black;
  font-family: "bigdailyshort-bold";
  transition: 200ms ease-in-out color,
}

.logo a:hover{
  color:#8207C4;
}



.menu a {
  text-decoration: none;
  display: inline-block;
  padding: .5rem 1.2rem;
  margin-right: 10px;
  color:black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  /* background-color: #fff; */
  
}

.menu a:hover {
  color:#8207C4;
}

nav .menu a:active {
  color:#8207C4;
}


#download {
  border: black;
  border-style: solid;
  border-radius: 20px;
}

#download:hover {
  background-color:black;
  border-style: solid;
  color: white;
}

/* #download a:hover {
  color: white;
}  */

.active_nav {
  background-color: #8207C4;
  box-shadow: 0px 0px;
  transition: 200ms ease-in-out background-color;

}

.active_nav .menu a, 
.active_nav .logo a{
  color:white;
}

.active_nav .menu a:hover,
.active_nav .logo a:hover {
  color:#ff5c1e;
}

.active_nav #download {
  border:white;
  border-style: solid;
  border-radius: 20px;
}

.active_nav #download:hover {
  background-color: white;
  color:#8207C4;
}

.remove_nav {
  opacity: 0;
  transition: 200ms ease-in-out ;

}

/* HAMBURGER MENU */
.hamburger {display: none;}

@media (max-width: 576px) {
  #download{display: none;}

  .menu{ position: absolute; 
    top:0; right:-100%; 
    background: white; 
    height: 100vh; 
    width:100%; 
    padding-top:100px;
    /* transform: translate(2.5rem, -4rem); */
  
    font-size: 30px;
    font-weight: bold;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

  }

  .menu li {display: block;}

  

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top:30px;
    right:30px;
    z-index: 20;
  }

  .hamburger span {
    background: black;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom:5px;
  }

  .active_nav .hamburger span{
    background: white;
}
}


  
* {
  margin: 0;
  padding: 0px;
}

/* INTRODUCTION */
.guidelines {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  align-content: space-around;

}

.guidelines__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom:20px;
  text-align: center;
}

.guidelines .row {
  padding:20px;
  align-items: flex-start;
}
.guidelines .column {
  margin: 20px;
  width:30vw;
}

.guidelines .img {
  margin-top: 100px;
  padding-bottom: 100px;
}


.godown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
}

#arrow {
  color: black;
  font-size: 30px;

}

#arrow:hover {
  color: #8207C4;
}
/* .guidelines .column p {
  color:black;
  font-family: "montserrat";
  text-align: center;
  font-size: 12px;
  margin-bottom:10px;
} */


/* CARDS SWIPER */
.swiper {
  height: 100vh;
  background-color: #8207C4;
}
.swiper-pagination {
  padding-bottom: 60px;
}
.swiper-pagination .swiper-pagination-bullet {
  height: 5px;
  width: 20px;
  border-radius: 25px;
  background: #fff;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
  opacity: 0.2;
  color: #fff;
  transition: all 0.3 ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
  color: #fff;
}

.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}


/* .swiper-slide {
  width: 100vw;
  height: 100vh;
  
} */

.swiper-slide.card {
  margin-top:100px;
  margin-bottom: 40px;
  height: 75vh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items:center;
}

/* .swiper-button-next {
  color: red;
} */


/* CARD FLIP */

.card__inner {
  width:40vw;
  min-width: 300px;
  max-width: 400px;
  height: 60vw;
  max-height: 600px;
  min-height: 450px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border:white;
  border-style:solid;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-color: #8207C4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h1 {
  font-family: "bigdailyshot-regular";
  color:white;
  font-size: 100px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.guideline {
  display: block;
  width:70vw;
}

/* SWITCHER */
header{
  background-color: #fff;
  height: 5vh;
  padding:20px;
}
#subnav{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.tabs .tab {
  display: block;
  padding-right:10px;
}

.tabs .tab a[data-switcher] {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color:#000;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 20px;
  font-family: "montserrat";
}

.tabs .tab:hover a[data-switcher]{
  color:#8207C4;
  border:2px solid #8207C4;
}

.tabs .tab.is-active a[data-switcher]{
  background-color: #8207C4;
  color:white;
  border-color: #8207C4;
  font-weight: 600;
}

main {
  padding-left: 30px;
  padding-right:30px;
  height: 30vh;
}

.pages {
  margin-top:50px;
  padding:50px 30px;
  border-radius:8px;
  background-color: transparent;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2) ; */
}

.pages .page {
  display: none;
}

.pages .page.is-active {
  display: block;
}

/* PALETTE */
.colors {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.color {
  width:15vw;
  height: 20vh;

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  width: 15vw;
  min-width: 50px;
  max-width: 200px;
  height: 15vw;
  min-height: 50px;
  max-height: 200px;

  
  display: flex;
  flex-direction: column;
}

#color1 {
  background-color: #000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:10px;
}

#color2 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:10px;
}
#color3 {
  background-color: #8207C4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:10px;
}
#color4 {
  background-color: #FF5C1E;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:10px;
}
#color5 {
  background-color: #F8D6E4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:10px;
}

/* FOOTER */
footer {
  background-color: #8207C4;
  padding: 40px;

}

footer h3 {
  font-family: "montserrat";
  font-style: normal;
  color: white;
  font-size: min(2.5vw,20px);
}

footer p{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: min(1.25vw,10px);
  line-height: 2;
  color: white;
}

footer a{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: min(1.25vw,10px);
  line-height: 1.5;
  color: white;
}

footer a:hover{
  
  color: #ccc;
}

.row {
  display: flex;
  justify-content: space-around;
}

.logo {
  width:20px;
  height: 20px;

}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  footer h3 {
    font-size: 3vw;
  }
  
  footer p{
    font-size: 1.5vw;
  }
  
  footer a{
    font-size: 1.5vw;
  }

  .column {
    padding-bottom:20px;
  }
}