/* FONTS*/
/* montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/stylesheet/fonts/Montserrat-Medium.eot');
  src: url('assets/stylesheet/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/stylesheet/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/stylesheet/fonts/Montserrat-SemiBold.eot');
    src: url('assets/stylesheet/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('assets/stylesheet/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/stylesheet/fonts/Montserrat-Regular.eot');
    src: url('assets/stylesheet/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/stylesheet/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* bigdailyshort */
@font-face {
  font-family: 'Big Daily Short';
  src: url('assets/stylesheet/fonts/BigDailyShort-Regular.eot');
  src: url('assets/stylesheet/fonts/BigDailyShort-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/stylesheet/fonts/BigDailyShort-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*base style*/
body {
    background-color: white;
    color: white;
    font-family: 'Big Daily Short';
    margin: 0px;
    padding: 0;
    width:100vw;
  }
  
  a {text-decoration: none;}
  
  h1 { color: black}
  
  .big-text{
    font-size:min(7vw, 60px); 
    font-family: 'Big Daily Short';
    color:#8207C4; 
    margin-left: 30px; 
  
  }
    
  .med-text{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#8207C4; 
    margin-left: 30px; 
  }
  
  .small-text{
    font-size:clamp(18px,3vw,24px);
    font-family: 'montserrat';
    text-align:center;
    color:#8207C4; 
  }
  
  .description {
    color:white;
    font-family: "montserrat";
    text-align: left;
    font-size: 12px;
  }
  
  .button {
    padding:8px 30px;  
    color: #8207C4; 
    display:inline-block; 
    border: #8207C4; 
    border-style:solid; 
    border-radius:20px ;
    background:white; 
    font-size:15px; 
    font-family: 'Montserrat';
    font-weight:normal;
    font-style: normal;
  }
  
  .button:hover{
    background-color:#8207C4 ;
    color: #fff;
  }
  
  canvas {
    display: block;
  }
  
  @media (max-width: 576px) {
    .big-text {
      font-size:10vw;
      padding-top: 50px;
    };
    
  }
  
  
  /* HEADER */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  position: fixed;
  width: 100vw;
  transition: 200ms ease-in-out background-color;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  /* box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2); */
  /* opacity: 0.5; */
}

#logo a{
  padding-left: 30px;
  color: black;
  font-family: "Big Daily Short";
  font-size:24px;
}

#logo a:hover{
  color:#8207C4;
}



.menu a {
  text-decoration: none;
  display: inline-block;
  padding: .5rem 1.2rem;
  margin-right: 10px;
  color:black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  /* background-color: #fff; */
  
}

.menu a:hover {
  color:#8207C4;
}

nav .menu a:active {
  color:#8207C4;
}


#download {
  border: black;
  border-style: solid;
  border-radius: 20px;
}

#download:hover {
  background-color:black;
  border-style: solid;
  color: white;
}


/* HAMBURGER MENU */
.hamburger {display: none;}

@media (max-width: 576px) {
  #download{display: none;}

  .menu{ position: absolute; 
    top:0; right:-100%; 
    background: white; 
    height: 100vh; 
    width:100%; 
    padding-top:100px;
    /* transform: translate(2.5rem, -4rem); */
  
    font-size: 30px;
    font-weight: normal;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

  }

  .menu li {display: block;}

  

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top:30px;
    right:30px;
    z-index: 20;
  }

  .hamburger span {
    background: black;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom:5px;
  }

  /* .active_nav .hamburger span{
    background: white;
} */
}
  
  
  /* HOME */
  .hero__container {
    height: 100vh;
  }
  .hero{
    background-color: white;
    width:100vw; 
    height:80vh;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .hero__content{
    width:100vw;
    max-width:1350px;
    /* margin:0 auto;  */
    margin-top:100px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  
  
  
 .hero a  {
    max-width: 10%;
    min-width: 5%;
    width:3vw;
    height: auto;
    padding: 30px;
    margin:10px;

    display: flex;
    justify-content: space-around;
    align-self: flex-end;
  }

  #getapp {
   
    width:20vw;

  }
  
  
 
  