/*base style*/
body {
    background-color: white;
    color: white;
    font-family: 'Big Daily Short';
    margin: 0px;
    padding: 0;
    width:100vw;
  }
  
  a {text-decoration: none;}
  
  h1 {
    font-size:min(7vw, 60px); 
    font-family: 'Big Daily Short';
    color:#8207C4; 
    margin-bottom: 0%;
    margin-top:0;
  }
    
  h2{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#fff; 
  }

  .h2montserrat{
    font-size:clamp(32px,5vw,40px);
    font-family: 'montserrat';
    font-weight: 600;
    color:#fff; 
    text-align: center;

  }
  
  .purple{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#8207C4; 
    text-align: left;

    margin: 0;
  }
  
  h3{
    font-size:clamp(18px,4vw,24px);
    font-family: 'montserrat';
    text-align:left;
    color:#8207C4; 

    margin-top: 10vh;
    margin-bottom: 0%;

  } 
  
  .body {
    font-size:clamp(14px,3vw,16px);
    font-family: 'montserrat';
    text-align:left;
    color:#000;
  }
  
  .description {
    color:white;
    font-family: "montserrat";
    text-align: left;
    font-size: 14px;
  }
  
  .description-black {
    color:black;
    font-family: "montserrat";
    text-align: left;
    font-size:clamp(12px,2vw,14px);
  }

  .description-purple {
    color:#8207C4;
    font-family: "montserrat";
    text-align: justify;
    font-size:clamp(12px,2vw,14px);

    max-width: 500px;

    padding-top: 30px;
  }
  
  .button {
    padding:8px 30px;  
    color: #8207C4; 
    display:inline-block; 
    border: #8207C4; 
    border-style:solid; 
    border-radius:20px ;
    background:white; 
    font-size:15px; 
    font-family: 'Montserrat';
    font-weight:normal;
    font-style: normal;
  }
  
  .button:hover{
    background-color:#8207C4 ;
    color: #fff;
  }
  
  canvas {
    display: block;
  }
  
  @media (max-width: 576px) {
    .big-text {
      font-size:10vw;
      padding-top: 50px;
    };
    
  }
  
  
  /* HEADER */


  nav .menu a.active {
    color:#fff;
    background-color: #8207C4;
    border:1px solid #8207C4;
  }

  
  /* HOME */
  .hero__container {
    height: 100vh;
  }
  .hero{
    background-color: white;
    width:100vw; 
    height:80vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .hero__content{
    width:700px;
    max-width:1350px;
    /* margin:0 auto;  */
    margin-top:100px;
    margin-left: 20vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #logo {
    width: 100px;
  }
  
  
  
  
 /* .hero a  {
    max-width: 10%;
    min-width: 5%;
    width:3vw;
    height: auto;
    padding: 30px;
    margin:30px;

    display: flex;
    justify-content: space-around;
    align-self: flex-end;
  } */

  .images {
    width: 50vw;
    display: flex;
    justify-content: flex-start;

    margin-left: 20vw;
    
  }
  #getapp {
    
    width:150px;

    margin-right: 2.5vw;
    cursor: pointer;

  }
  

  
 
  