  /* FONTS */
  /* montserrat */
  @font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('fonts/Montserrat-SemiBold.eot');
      src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('fonts/Montserrat-SemiBold.woff') format('woff');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('fonts/Montserrat-Regular.eot');
      src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/Montserrat-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  /* bigdailyshort */
  @font-face {
    font-family: 'Big Daily Short';
    src: url('BigDailyShort-Regular.eot');
    src: url('BigDailyShort-Regular.eot?#iefix') format('embedded-opentype'),
        url('BigDailyShort-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


/*base style*/
body {
  background-color: white;
  color: white;
  font-family: 'bigdailyshort-regular';
  margin: 0px;
  padding: 0;
  width:100vw;
}

a {text-decoration: none;}

h1 { color: black}

.big-text{
  font-size:min(7vw, 60px); 
  font-family: 'bigdailyshort-regular';
  color:#8207C4; 
  margin-left: 30px; 

}
  
.med-text{
  font-size:clamp(32px,5vw,40px);
  font-family: 'bigdailyshort-regular';
  color:#8207C4; 
  margin-left: 30px; 
}

.small-text{
  font-size:clamp(18px,3vw,24px);
  font-family: 'montserrat';
  text-align:center;
  color:#8207C4; 
}

.description {
  color:white;
  font-family: "montserrat";
  text-align: left;
  font-size: 12px;
}

.description-black {
  color:black;
  font-family: "montserrat";
  text-align: left;
  font-size: 12px;
}

.button {
  padding:8px 30px;  
  color: #8207C4; 
  display:inline-block; 
  border: #8207C4; 
  border-style:solid; 
  border-radius:20px ;
  background:white; 
  font-size:15px; 
  font-family: 'Montserrat';
  font-weight:normal;
  font-style: normal;
}

.button:hover{
  background-color:#8207C4 ;
  color: #fff;
}

canvas {
  display: block;
}

@media (max-width: 576px) {
  .big-text {
    font-size:10vw;
    padding-top: 50px;
  };
  
}


/* HEADER */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  position: fixed;
  width: 100vw;
  transition: 200ms ease-in-out background-color;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  /* box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2); */
  /* opacity: 0.5; */
}

.logo a{
  padding-left: 30px;
  color: black;
  font-family: "bigdailyshort-regular";
  transition: 200ms ease-in-out color,
}

.logo a:hover{
  color:#8207C4;
}



.menu a {
  text-decoration: none;
  display: inline-block;
  padding: .5rem 1.2rem;
  margin-right: 10px;
  color:black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  /* background-color: #fff; */
  
}

.menu a:hover {
  color:#8207C4;
}

nav .menu a:active {
  color:#8207C4;
}


#download {
  border: black;
  border-style: solid;
  border-radius: 20px;
}

#download:hover {
  background-color:black;
  border-style: solid;
  color: white;
}

/* #download a:hover {
  color: white;
}  */

/* .active_nav {
  background-color: rgba(130, 7, 196, 0.8);
  box-shadow: 0px 0px;
  transition: 200ms ease-in-out background-color;

}

.active_nav .menu a, 
.active_nav .logo a{
  color:white;
}

.active_nav .menu a:hover,
.active_nav .logo a:hover {
  color:#ff5c1e;
}

.active_nav #download {
  border:white;
  border-style: solid;
  border-radius: 20px;
}

.active_nav #download:hover {
  background-color: white;
  color:#8207C4;
}

.remove_nav {
  opacity: 0;
  transition: 200ms ease-in-out ;

} */

/* HAMBURGER MENU */
.hamburger {display: none;}

@media (max-width: 576px) {
  #download{display: none;}

  .menu{ position: absolute; 
    top:0; right:-100%; 
    background: white; 
    height: 100vh; 
    width:100%; 
    padding-top:100px;
    /* transform: translate(2.5rem, -4rem); */
  
    font-size: 30px;
    font-weight: bold;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

  }

  .menu li {display: block;}

  

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top:30px;
    right:30px;
    z-index: 20;
  }

  .hamburger span {
    background: black;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom:5px;
  }

  .active_nav .hamburger span{
    background: white;
}
}


/* HOME */
.hero__container {
  height: 100vh;
}
.hero{
  background-color: white;
  width:100vw; 
  height:80vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.hero__content{
  width:60vw;
  max-width:1350px;
  /* margin:0 auto;  */
  margin-top:100px;
  margin-left: 20px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}


/* #cover {
  width: 10vw;
} */

.hero img {
  height: 60vw;
  max-height: 500px;
  width:auto;
  padding-top: 50px;
  padding-right:30px;
}

.esplora {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* FEATURES */
.horizontal-section{
  padding: 100px 0;
  background-color: #8207C4;

}
.sticky-wrapper {
  width: 100%;
  overflow:hidden;
  position: sticky;
  top: 100px;
}

.element-wrapper{
  position: relative;
  display:flex;
}

.element-wrapper .element {
  width: 100vw;
  height: 100vh;
  
  margin: 0 30px 0 0; 
  flex-shrink:0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  
  z-index: 1;
}


.img {
  width: 50vw;
  position: relative;
  /* left:0; */
  /* z-index: 10; */
  max-width: 200px;
  margin-bottom: 120px;
}

.element .content {
  width:30vw;
  margin-left:20px;
  margin-bottom: 120px;
  padding:30px;
}

.feature {
  color: white;
  font-size:min(5vw, 60px); 
  text-align: left;
}




@media (max-width: 576px) {
  .element-wrapper .element{
    flex-direction: column;
  }

  .feature {
    text-align: center;
  }
  
}

/* OVERVIEW */
.overview {
  width:100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview h1 {
  margin-top:100px;
  text-align: center;
  color: #8207C4;
}

.overview .element {
  height: 30vh;
  text-align: left;
  color:#8207C4;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overview .element img {
  width:30%;
  height:30%;
}

.caption {
  font-family: "montserrat";
  font-weight: 600;
  font-size: 30px;
}
.content {
  padding: 20px;
}

#element1 {
  margin-top: 50px;
}

/* VIDEO */
.video {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  /* margin-top:40px; */
  margin-bottom:40px;
  width:80vw;
  height: 45vw;

  border: solid;
  border-color: black;
  border-radius: 3vw;
}

/* RECENSIONI */
.wrapper{
  height: 100vh;
  position: relative;
  display:flex;
  align-items: center;
  padding-left: 70px;
  padding-top: 70px;

  background: #8207C4;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.review {
  width: 60%;
  max-width: 350px;
  height: 50vh;
  background-color: #fff;
  margin: 0 20px 0 0; 
  flex-shrink:0;
  border:#8207C4;
  border-radius: 30px;
  border-style:solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.star {
  width: 25px;
}

.review h2 {
  color:black;
  font-family: "montserrat";
  font-style: normal;
  font-size: min(3vw,18px);
  margin-top:50px;
  margin-bottom: 10px;
  
  /* display: flex;
  align-content: flex-start; */
}

.review p {
  color:black;
  font-family: "montserrat";
  font-weight: 600;
  font-size: min(2vw,12px);

  align-content: flex-end;
}

/* FOOTER */
footer {
  background-color: #fff;
  padding: 40px;

}

footer h3 {
  font-family: "montserrat";
  font-style: normal;
  color: black;
  font-size: min(16px,2.5vw,20px);
}

footer p{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: clamp(8px,1.25vw,10px);
  line-height: 2;
  color: black;
}

footer a{
  font-family: "bigdailyshort-semilight";
  font-style: normal;
  font-size: clamp(8px,1.25vw,10px);
  line-height: 1.5;
  color: black;
}

footer a:hover{
  
  color: #8207C4;
}

.row {
  display: flex;
  justify-content: space-around;
}

.logo {
  width:20px;
  height: 20px;

}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  footer h3 {
    font-size: max(3vw,18px);
  }
  
  footer p{
    font-size: max(1.5vw, 9px);
  }
  
  footer a{
    font-size: max(1.5vw, 9px);
  }

  .column {
    padding-bottom:20px;
  }
}