/*base style*/
body {
    background-color: white;
    color: white;
    font-family: 'bigdailyshort-regular';
    margin: 0px;
    padding: 0;
    width:100vw;
  }
  
  a {text-decoration: none;}
  
  h1 {
    font-size:min(7vw, 60px); 
    font-family: 'Big Daily Short';
    color:#8207C4; 
    margin-left: 30px; 
  }
    
  h2{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#fff; 
  }

  .h2montserrat{
    font-size:clamp(32px,5vw,40px);
    font-family: 'montserrat';
    font-weight: 600;
    color:#fff; 
    text-align: center;

  }
  
  .purple{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#8207C4; 
    text-align: left;

    margin: 0;
  }
  
  h3{
    font-size:clamp(18px,4vw,24px);
    font-family: 'montserrat';
    text-align:left;
    color:#8207C4; 

    margin: 0;
  } 
  
  .body {
    font-size:clamp(14px,3vw,16px);
    font-family: 'montserrat';
    text-align:left;
    color:#000;
  }
  
  .description {
    color:white;
    font-family: "montserrat";
    text-align: left;
    font-size: 14px;
  }
  
  .description-black {
    color:black;
    font-family: "montserrat";
    text-align: left;
    font-size:clamp(12px,2vw,14px);
  }

  .description-purple {
    color:#8207C4;
    font-family: "montserrat";
    /* text-align: justify; */
    font-size:clamp(12px,2vw,14px);

    max-width: 550px;

    /* padding: 30px; */
  }

  .keyword {
    margin: 5px;
    padding: 5px;

    font-size: clamp(12px,2.5vw,16px);
  }

  
  
  .button {
    padding:8px 30px;  
    color: white; 
    display:inline-block; 
    border: #8207C4; 
    border-style:solid; 
    border-radius:20px ;
    background:#8207C4; 
    font-size:15px; 
    font-family: 'Montserrat';
    font-weight:normal;
    font-style: normal;
    
  }
  
  .button:hover{
    background-color:white ;
    color: #8207C4;
  }
  
  canvas {
    display: block;
  }
  
  @media (max-width: 576px) {
    .big-text {
      font-size:10vw;
      padding-top: 50px;
    };
    
  }
  

/* HERO */
.hero{
  background-color: white;
  width:100vw; 
  height:100vh;
  
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.hero__content{
  width:60vw;
  max-width:1350px;
  padding: 50px;
  text-align: left;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero img {
  height: 40vw;
  max-height: 500px;
  width:auto;
  padding-top: 50px;
  padding-right:30px;
}

/* FEATURES */
.horizontal-section{
  padding: 100px 0px;
  background-color: #8207C4;
}
.sticky-wrapper {
  width: 100%;
  /* max-height: 60vh; */
  overflow:hidden;
  position: sticky;
  top: 100px;
  /* padding-left: 70px; */
}

.element-wrapper{
  position: relative;
  display:flex;

  /* padding-right: 10px; */
}

.element-wrapper .quote {
  width: auto;
  height: fit-content;
  
  margin: 30px 0px 0 0; 
  flex-shrink:0;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
  /* align-content: space-around; */

  position: relative;
  overflow: hidden;
  
  z-index: 1;
  padding: 10px;

}


.quote .content {
  width:50vw;
  max-width: 500px;
  height: 40vh;
  margin-left:20px;
  padding:30px;

  background-color: #EBD1FF;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: stretch; */
  justify-content: space-between;

}

.open {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;

  color: #8207C4;
  font-size:min(5vw, 60px);
  
  display: flex;
  text-align: left;
}

.close {
  color: #8207C4;
  font-size:min(5vw, 60px); 
  text-align: right;

  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.quotation {
  color: #8207C4;
  font-family: "montserrat";
  text-align: left;
  font-size: 16px;
  max-height: 50px;
  margin-top: 0;

display: flex;
  align-items:center;

}

.signature {
  color: #8207C4;
  font-family: "montserrat";
  text-align: right;
  font-size: 12px;

}

.container {
  height: 100vh;
  padding: 30px 50px 50px 50px;
  /* padding-top: 50px; */
  background-color: #8207C4;

  text-align: center;
}

@media (max-width: 576px) {
  .hero__content{
    width:60vw;
    max-width:1350px;
    padding: 20px;
    text-align: left;
  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .element-wrapper .quote {
    width: 70vw;
    padding: 0;
  }

  .quote .content {
    width: 60vw;
    justify-content: space-between;
  }

  .quotation{
    display: flex;
    align-items: center;
  }

  .container {
    height: 100vh;
    padding: 30px 20px 20px 20px;
    /* padding-top: 50px; */
    background-color: #8207C4;
  
    text-align: center;
  }
}
/* SOLUZIONI */

.hovering{
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  padding:0px ;  
  margin-top:20px;
  margin-bottom: 20px;
  display:inline-block; 

  font-size:15px; 
  font-family: 'Montserrat';
  font-weight:normal;
  font-style: normal;
}

.container h1{
  color:#fff
}

.hovering:hover{
  background-color:#fff ;
  color: #8207C4;
}

.resolution {
  display: inline-block;
  width: 60vw;

  text-align: center;
  color:black;
  font-family: "montserrat";
  font-size: 14px;

  padding: 30px;
  margin: 10px;
  
  background-color: #EBD1FF;
  border-radius: 30px;
}


#educare:hover~#educare2{
  color: #8207C4;
  background-color: white;
}
#comunicare:hover~#comunicare2{
  color: #8207C4;
  background-color: white;
}
#incoraggiare:hover~#incoraggiare2{
  color: #8207C4;
  background-color: white;
}
#esplorare:hover~#esplorare2{
  color: #8207C4;
  background-color: white;
}
#ravvivare:hover~#comunicare2{
  color: #8207C4;
  background-color: white;
}

@media (max-width: 576px) {
  .resolution{
    padding:20px;
  }
}





