  /* base style */
  body {
    background-color: white;
    color: white;
    font-family: 'Big Daily Short';
    margin: 0px;
    padding: 0;
    /* width:100vw; */
    height: 100vh;

    overflow-x: hidden;
  }
  
  a {text-decoration: none;}
  
  h1 {
    font-size:min(7vw, 60px); 
    font-family: 'Big Daily Short';
    color:#8207C4; 
    margin-left: 30px; 
  }
    
  h2{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#fff; 
  }
  
  .purple{
    font-size:clamp(32px,5vw,40px);
    font-family: 'Big Daily Short';
    color:#8207C4; 
  }
  
  h3{
    font-size:clamp(12px,3vw,16px);
    font-family: 'montserrat';
    text-align:center;
    color:#8207C4; 
  } 
  
  
  
  .description {
    color:white;
    font-family: "montserrat";
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
  
  .description-black {
    color:black;
    font-family: "montserrat";
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
  
  
  .button {
    padding:8px 30px;  
    color: #8207C4; 
    display:inline-block; 
    border: #8207C4; 
    border-style:solid; 
    border-radius:20px ;
    background:white; 
    font-size:15px; 
    font-family: 'Montserrat';
    font-weight:normal;
    font-style: normal;
  }
  
  .button:hover{
    background-color:#8207C4 ;
    color: #fff;
  }
  
  .button:active{
    background-color:white ;
    color: #8207C4;
    box-shadow: 5px 1px 6px 2px rgba(0, 0, 0, 0.2);
  
  }
  
  canvas {
    display: block;
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size:min(5vw, 50px)
    };
    
  }
  
  .team {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* PICTURES */

  .picture__container {
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: space-around;

    margin: 20px;
  }

  .persone {
    display: flex;

  }

  .picture {
    width: 14vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1vw;

    background-color: #8207C4;
    border-radius: 10px;
    cursor: pointer;
  }

  .photo {
    width: 11vw;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;

    border-radius: 10px;
  }

  .names{
    font-size:clamp(9px,1.5vw,14px);
    font-family: 'montserrat';
    text-align:center;
    color:#fff; 

    margin: 10px;
  } 

  @media (max-width: 576px) {
    .picture__container{
      display: flex;
      flex-wrap: wrap;

      align-content: center;
    }

    .picture{
      width: 28vw;
      height: fit-content;
    }

    .photo {
      width: 22vw;
      height: auto;
      margin-top: 15px;
      margin-bottom: 10px;
  
      border-radius: 10px;
    }

    .names {
      font-size:clamp(10px,2.5vw,16px);

    }

  }

